
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;

    --card: 222 47% 14%;
    --card-foreground: 0 0% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 196 100% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 196 100% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 20%;
    --input: 240 3.7% 15.9%;
    --ring: 196 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;

    --card: 222 47% 14%;
    --card-foreground: 0 0% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 196 100% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 196 100% 40%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 20%;
    --input: 240 3.7% 15.9%;
    --ring: 196 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
